*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    background-color: rgb(193, 169, 216);
    padding: 34px;
    margin: auto;
}
.container h1,p{
    text-align:center;

} 
input, textarea{
    width: 80%;
    margin:11px;
    padding:2px;
    font-size:14px;
    border: 2px solid black;
    border-radius: 12px;
}